name: package:cupertino_http CI

on:
  push:
    branches:
      - main
      - master
    paths:
      - '.github/workflows/cupertino.yml'
      - 'pkgs/cupertino_http/**'
      - 'pkgs/http_client_conformance_tests/**'
  pull_request:
    paths:
      - '.github/workflows/cupertino.yml'
      - 'pkgs/cupertino_http/**'
      - 'pkgs/http_client_conformance_tests/**'
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  macos:
    name: "macOS: Format & Analyze & Test"
    runs-on: macos-latest
    defaults:
      run:
        working-directory: pkgs/cupertino_http
    strategy:
      matrix:
        # Test on the minimum supported flutter version and the latest
        # version.
        flutter-version: ["3.24.0", "any"]
        # It would be nice to test on older versions of macOS but macOS 13 is
        # the oldest supported by GitHub.
        os: [macos-13, macos-latest]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'
      - id: install
        name: Install dependencies
        run: flutter pub get
      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed .
        if: always() && steps.install.outcome == 'success'
      - name: Analyze code
        run: flutter analyze --fatal-infos
        if: always() && steps.install.outcome == 'success'
      - name: Run tests
        run: |
          cd example
          flutter pub get
          flutter test -d macos integration_test/main.dart --test-randomize-ordering-seed=random  
  ios:
    name: "iOS: Test"
    runs-on: macos-latest
    defaults:
      run:
        working-directory: pkgs/cupertino_http
    strategy:
      fail-fast: false
      matrix:
        # Test on the minimum supported flutter version and the latest
        # version.
        flutter-version: ["3.24.0", "any"]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'
      - id: install
        name: Install dependencies
        run: flutter pub get
      - uses: futureware-tech/simulator-action@dab10d813144ef59b48d401cd95da151222ef8cd
        with:
          os: iOS
          os_version: '>=13.0'
      - name: Run tests
        run: |
          cd example
          flutter pub get
          flutter test integration_test/main.dart --test-randomize-ordering-seed=random
