name: package:cupertino_http CI

on:
  push:
    branches:
      - main
      - master
    paths:
      - '.github/workflows/cupertino.yml'
      - 'pkgs/cupertino_http/**'
      - 'pkgs/http_client_conformance_tests/**'
  pull_request:
    paths:
      - '.github/workflows/cupertino.yml'
      - 'pkgs/cupertino_http/**'
      - 'pkgs/http_client_conformance_tests/**'
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  health:
    uses: dart-lang/ecosystem/.github/workflows/health.yaml@main
    with:
      use-flutter: true
      fail_on: "changelog,license,coverage,breaking,do-not-submit,leaking"
      sdk: stable
  verify:
    name: Format & Analyze & Test
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        # Test on the minimum supported flutter version and the latest
        # version.
        flutter-version: ["3.24.0", "any"]
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'
      - id: install
        name: Install dependencies
        run: flutter pub get
      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed .
        if: always() && steps.install.outcome == 'success'
      - name: Analyze code
        run: flutter analyze --fatal-infos
        if: always() && steps.install.outcome == 'success'
      - uses: futureware-tech/simulator-action@bfa03d93ec9de6dacb0c5553bbf8da8afc6c2ee9
        with:
          os: iOS
          os_version: '>=13.0'
      - name: Run tests
        run: |
          cd example
          flutter pub get
          flutter test integration_test/main.dart --test-randomize-ordering-seed=random

defaults:
  run:
    working-directory: pkgs/cupertino_http  
