name: package:cupertino_http CI

on:
  push:
    branches:
      - main
      - master
    paths:
      - '.github/workflows/cupertino.yml'
      - 'pkgs/cupertino_http/**'
      - 'pkgs/http_client_conformance_tests/**'
      - 'pkgs/web_socket_conformance_tests/**'
  pull_request:
    paths:
      - '.github/workflows/cupertino.yml'
      - 'pkgs/cupertino_http/**'
      - 'pkgs/http_client_conformance_tests/**'
      - 'pkgs/web_socket_conformance_tests/**'
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  macos:
    name: "macOS: Format & Analyze & Test"
    runs-on: macos-latest
    defaults:
      run:
        working-directory: pkgs/cupertino_http
    strategy:
      fail-fast: false
      matrix:
        # Test on the minimum supported flutter version and the latest
        # version.
        flutter-version: ["3.24.0", "3.32.8", "3.35.0", "any"]
        # It would be nice to test on older versions of macOS but macOS 13 is
        # the oldest supported by GitHub.
        os: [macos-13, macos-latest]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'
      - id: install
        name: Install dependencies
        run: flutter pub get
#      - name: Check formatting
#        run: dart format --output=show --set-exit-if-changed .
#        if: always() && steps.install.outcome == 'success'
#      - name: Analyze code
#        run: flutter analyze --fatal-infos
#        if: always() && steps.install.outcome == 'success'
      - name: Start tcpdump
        run: |
          sudo tcpdump -i any -s 65535 -w ${{ github.workspace }}/capture.pcap &
      - name: Run tests
        run: |
          cd example
          flutter pub get
          flutter test -d macos integration_test/main.dart --name "defaultSessionConfiguration local close close with 1000"  
      - name: Stop tcpdump
        if: failure()
        run: |
          sudo pkill tcpdump
          sleep 1
      - name: Upload tcpdump capture
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: tcpdump
          path: ${{ github.workspace }}/capture.pcap
  ios:
    name: "iOS: Test"
    runs-on: macos-latest
    defaults:
      run:
        working-directory: pkgs/cupertino_http
    strategy:
      fail-fast: false
      matrix:
        # Test on the minimum supported flutter version and the latest
        # version.
        flutter-version: ["3.24.0", "any"]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: 'stable'
      - id: install
        name: Install dependencies
        run: flutter pub get
      - uses: futureware-tech/simulator-action@dab10d813144ef59b48d401cd95da151222ef8cd
        with:
          os: iOS
          os_version: '>=13.0'
      - name: Run tests
        run: |
          cd example
          flutter pub get
          flutter test integration_test/main.dart --test-randomize-ordering-seed=random
